<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/boxicons/2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofGJgJPLaFgiqffQ8yJFZqI1dF2L2nJT+I" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/boxicons/2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha384-VuGEBO5B5JAg6d7VOmM7xFP13z0wsn2Nc6e5R5DA7e8pIAzaXYBpT1N2nI3X16W4" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <!-- header selection start-->
    <header class="header">
        <div class="sidebar">
            <div class="container">
                <a href="#" class="logo"><i class="fab fa-bitcoin"></i></a>
            </div>
            <div class="icons">
                <div id="menu-btn" class="fas fa-bars"></div>
            </div>
            <!-- <a href="#" class="logo"><i class="fab fa-btc"></i>name</a> -->
            <!-- <i class="far fa-calendar-check"></i>
        <i class="fas fa-calendar-check"></i>
        <i class="fas fa-coins"></i>
        fas fa-moon / far fa-moon - color -->

            <!--  glyphicon glyphicon-log-out -->

            <ul>
                <li>
                    <a href="#">
                        <!-- <i class="fas fa-calendar-alt"></i> -->
                        <i class="fas fa-user"></i>

                        <span class="nav-item">week</span>
                    </a>
                    <span class="tooltip">week</span>
                </li>
                <li>
                    <a href="#">
                        <!-- <i class="fas fa-calendar-day"></i> -->
                        <i class="material-icons">trending_up</i>

                        <span class="nav-item">income</span>
                    </a>
                    <span class="tooltip">income</span>
                </li>

                <li>
                    <a href="#">
                        <!-- <i class="far fa-calendar-alt"></i> -->
                        <i class="material-icons">trending_down</i>

                        <span class="nav-item">outcome</span>
                    </a>
                    <span class="tooltip">outcome</span>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-stats"></i>
                        <span class="nav-item">year</span>
                    </a>
                    <span class="tooltip">year</span>

                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-sign-out"></i>
                        <span class="nav-item">logout</span>
                    </a>
                    <span class="tooltip">logout</span>

                </li>
                <!-- <li>
                    <div id="logout-btn" class="fa fa-sign-out"></div>
                </li> -->
            </ul>



        </div>

    </header>
    <!-- header selection end-->